/* ############ FOOTER ############ */
.footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	background-color: var(--black);
	color: var(--white);
	text-align: justify;
	line-height: 1.5;
	padding: 1.5rem;
	font-size: 1.2rem;

	&__header {
		font-size: 1.8rem;
	}

	&__about-img {
		width: 200px;
		display: block;
		margin: 0 auto 1.5rem;
	}

	&__nav {

		&-link {

			&:hover,
			&.is-active {
				color: var(--color-secondary);
			}

			&.is-active {
				pointer-events: none;
			}
		}
	}

	&__contact ul {
		overflow-wrap: break-word;
	}
}


/* ############ SUB FOOTER ############ */
.sub-footer {
	background-color: var(--black);
	color: var(--white);
	font-size: 1.2rem;
	letter-spacing: .2rem;
	padding: 1.5rem;

	@include respond-to(large) {
		justify-content: space-between;
	}

	&__copyright {
		flex: 0 0 100%;
		text-align: center;
		margin-top: 2rem;
		order: 2;

		@include respond-to(large) {
			flex: 0 0 auto;
			order: 0;
			margin-top: 0;
		}
	}

	&__legalities {
		list-style-type: none;
		display: flex;

		@include respond-to(large) {
			flex: 0 0 auto;
		}

		&-link {
			cursor: pointer;
		}

		&-link:hover {
			text-decoration: line-through;
		}

		&-item:not(:last-child)::after {
			content: '';
			position: absolute;
			height: 100%;
			width: 1px;
			top: 0;
			right: -1.5rem;
			background-color: #fff
		}
	}

}
