.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	background-color: var(--color-primary);
	box-shadow: 0 0 1rem 0 rgba(0, 0, 0, .5);
	transition: all .3s ease;

	position: relative;
	padding: 1.5rem 3rem;
	top: 0;
	right: 0;
	left: 0;
	z-index: 40;

	&__logo {
		width: 18rem;

		@include respond-to(medium) {
			width: 22rem;
		}
	}

	&__menu {
		flex: 0 0 100%;
		display: flex;
		flex-wrap: wrap;
		order: 3;

		text-transform: uppercase;
		text-align: right;
		font-size: var(--font-extra-small);
		letter-spacing: .5rem;
		max-height: 0;
		list-style-type: none;
		transition: .5s linear;
		overflow: hidden;

		@include respond-to(large) {
			flex: 0 0 auto;
			max-height: 100%;
		}

		&.is-opened {
			max-height: 50rem;
		}
	}

	&__item {
		flex: 0 0 100%;
		margin-left: 0;

		@include respond-to(large) {
			flex: 0 0 auto;

			&:not(:last-of-type) {
				margin-right: 3rem;
			}
		}
	}

	&__link {
		display: inline-block;
		color: var(--white);
		position: relative;
		padding: 1.5rem 0;

		&::after {
			content: '';
			background-color: var(--color-secondary);
			position: absolute;
			bottom: 0;
			right: 0;
			height: .2rem;
			width: 0;
			transition: all .3s ease;
		}

		&:hover::after {
			left: 0;
			width: calc(100% - .5rem);
		}

		&.is-active::after {
			left: 0;
			width: calc(100% - .5rem);
		}

		&.is-active {
			pointer-events: none;
		}
	}

	&__toggler {
		order: 2;
		padding: 1.5rem;
	}

	&__bar {
		position: relative;
		height: .3rem;
		width: 3rem;
		background-color: var(--white);
		display: block;
		transition: all .3s linear;
	}

	&__bar::before,
	&__bar::after {
		content: '';
		position: absolute;
		height: .3rem;
		width: 100%;
		background-color: var(--white);
		display: block;
		transition: all .3s linear;
	}

	&__bar::before {
		top: -8px;
	}

	&__bar::after {
		top: 8px;
	}

	&__bar.is-toggled {
		background-color: transparent;

		&::before {
			transform: rotate(-225deg);
			top: 0;
		}

		&::after {
			transform: rotate(225deg);
			top: 0;
		}
	}
}
