:root {
    --font-primary: 'Poppins', sans-serif;
    --font-title: 'Merriweather', serif;
    --font-logo: 'SergioTrendy';
    --color-dreamsicle: #F5D4C3;
    --color-fresh-watermelon: #E09789;
    --color-frosted-glass: #E9F1EF;
    --color-julep-green: #C8DBD7;
    --color-devonshire: #F6EFE7;
    --color-almost-famous: #3C5556;
    --color-highlight: #88B3AA;
    --color-whisper: #e6e6e6;
    --white: #fff;
    --black: #242424;
    --red: #c71b1b;
    --muted: #6e6e6e;
    --font-extra-small: calc(12px + (14 - 12) * ((100vw - 300px) / (1600 - 300)));
    --font-small: calc(14px + (16 - 14) * ((100vw - 300px) / (1600 - 300)));
    --font-medium: calc(24px + (28 - 24) * ((100vw - 300px) / (1600 - 300)));
    --font-large: calc(35px + (50 - 35) * ((100vw - 300px) / (1600 - 300)));
    --font-extra-large: calc(55px + (65 - 55) * ((100vw - 300px) / (1600 - 300)));
  }