/* ############### HERO SECTION ############### */
.hero {
	background-image: url(../img/hero/hero-img.jpg);
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-position: 75%;
	background-size: cover;
	height: 100vh;

	@include respond-to(large) {
		justify-content: flex-start;
	}

	&__caption {
		border: 0 solid var(--color-primary);
		border-radius: .3rem;
		color: var(--white);
		text-align: center;
		position: relative;
		padding: 3rem;
		margin-top: 4.5rem;
		z-index: 30;

		@include respond-to(large) {
			flex: 0 0 50%;
			border-width: .5rem;
			text-align: left;
			margin-left: 3rem;
		}
	}

	&__header {
		font-family: var(--font-header);
		font-size: var(--font-large);
		letter-spacing: .3rem;
		text-shadow: -3px 3px var(--black);
	}

	&__sub-header {
		letter-spacing: .5rem;
		text-shadow: -1px 1px var(--black);

		&:nth-of-type(2) {
			position: relative;
			margin-bottom: 4.5rem;

			&::after {
				content: '';
				position: absolute;
				bottom: -1.5rem;
				left: calc(50% - 2rem);
				width: 4rem;
				height: 2px;
				background-color: var(--color-secondary);

				@include respond-to(large) {
					top: 50%;
					left: 170px;
				}
			}
		}
	}

	&__text {
		display: none;
		font-size: var(--font-small);
		letter-spacing: .3rem;
		text-shadow: -1px 1px var(--black);
		margin: 3rem 0;

		@include respond-to(large) {
			display: block;
		}
	}
}


/* ############ BENEFITS SECTION ############ */
.about-sec {
	font-size: var(--font-small);
	text-align: justify;
	line-height: 1.5;
}


/* ############ BENEFITS SECTION ############ */
.benefits {
	display: flex;
	justify-content: center;
	align-items: flex-start;
	flex-wrap: wrap;

	&__item {
		flex: 0 0 100%;
		text-align: center;
		margin: 1.5rem 0;
		padding: 0 1.5rem;

		@include respond-to(small) {
			flex: 0 0 80%;
		}

		@include respond-to(medium) {
			flex: 0 0 33.333337%;
		}
	}

	&__icon {
		margin-bottom: 1.5rem;
		width: 5rem;
	}

	&__text {
		color: var(--color-muted);
		margin: 1.5rem 0;
	}
}


/* ############ BENEFITS SECTION ############ */
.services {

	&__item {
		flex: 0 0 95%;

		&:nth-of-type(3) {
			order: 5;
		}

		@include respond-to(medium) {
			flex: 0 0 50%;

			&:nth-of-type(3) {
				order: 0;
			}
		}
	}

	&__text {
		margin: 1.5rem 0 4.5rem 0;
		padding: 0 3rem;

		@include respond-to(medium) {
			margin-bottom: 1.5rem;
		}
	}

	&__header {
		font-family: var(--font-header);
		font-size: var(--font-large);
		font-weight: normal;
	}
}


/* ############ TESTIMONIAL SECTION ############ */
.testimonials {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: flex-end;

	&__img-wrap {
		flex: 0 0 100%;
		text-align: center;
		padding: 0 1.5rem;

		@include respond-to(large) {
			flex: 0 0 33.333337%;
		}
	}

	&__img {
		border: .5rem solid var(--color-primary);
		border-radius: 50%;
		max-width: 150px;
		max-height: 150px;
		margin: 0 auto 1.5rem;
		padding: 5px;

		@include respond-to(medium) {
			max-width: 18rem;
			max-height: 18rem;
		}
	}

	&__text-wrap {
		flex: 0 0 83.333333%;
		margin-top: 6rem;
		padding-bottom: 3rem;

		@include respond-to(medium) {
			flex: 0 0 58.333333%;
		}
	}

	&__text {
		font-style: italic;
		line-height: 2;
		letter-spacing: .2rem;
		text-align: justify;
		position: relative;

		&::after {
			content: '\201C';
			position: absolute;
			color: var(--muted);
			font-size: 12rem;
			font-weight: bold;
			font-family: sans-serif;
			line-height: 0;
			left: -5px;
			top: 0;
			font-style: normal;
		}
	}

	&__author {
		color: var(--color-highlight);
		font-style: italic;
		font-family: var(--font-title);
		letter-spacing: .3rem;
		position: relative;
		display: block;
		text-align: center;

		@include respond-to(large) {
			text-align: left;
		}
	}
}

/* ############ OWL OVERRIDES ############ */
.owl-next span,
.owl-prev span {
	padding: 1rem;
	font-size: 2rem;
}

.owl-next:hover,
.owl-prev:hover {
	background: #ecac5e !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot span {
	background-color: #f79862 !important;
	border: 0 !important;
}

.owl-theme .owl-dots .owl-dot.active span,
.owl-theme .owl-dots .owl-dot:hover span {
	background-color: #8b4000 !important;
}

/* ############ QUOTE SECTION ############ */
.quote-sec {
	background-image: url(../img/hero/quote-sec-bg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 30vh;
	position: relative;

	@include respond-to(medium) {
		height: 40vh;
	}

	&__text {
		color: var(--white);
		font-family: var(--font-title);
		font-weight: normal;
		font-size: var(--font-large);
		text-align: center;
		text-shadow: -3px 3px var(--black);
		margin: 0 1.5rem;
		z-index: 10;
	}
}


/* ############ FEATURED SECTION ############ */
.featured {

	&__item {
		flex: 0 0 100%;
		align-self: flex-start;
		padding: 0 1.5rem;
		margin-top: 3rem;

		@include respond-to(large) {
			flex: 0 0 50%;
			margin-top: 0;
		}
	}

	&__title {
		font-family: var(--font-header);
		font-size: var(--font-large);
		font-weight: normal;
	}

	&__sub-header {
		display: block;
		position: relative;
		margin-bottom: 3rem;

		&::after {
			content: '';
			position: absolute;
			width: 4rem;
			height: 2px;
			background-color: var(--color-highlight);
			left: 0;
			bottom: -10px;
		}
	}

	&__blogs {
		flex: 0 0 100%;
		max-width: 100%;
		padding: 3rem 1.5rem 0;
	}
}

/* ############ EMAIL SECTION ############ */
.email-sec {
	position: relative;
	z-index: 10;

	&__content {
		flex: 0 0 100%;
		padding: 0 1.5rem;
		margin-bottom: 3rem;

		@include respond-to(medium) {
			flex: 0 0 66.666667%;
			padding: 0;
		}

		@include respond-to(large) {
			flex: 0 0 33.333334%;
			flex-direction: column;
			margin-right: 4.5rem;
			margin-bottom: 0;
		}
	}

	&__text {
		background-color: #143b48;
		flex: 0 0 100%;
		display: flex;
		flex-direction: column;
		align-self: stretch;
		justify-content: center;
		text-align: center;
		color: var(--white);
		padding: 1.5rem;

		@include respond-to(small) {
			flex: 0 0 50%;
		}

		//		@include respond-to(medium) {
		//			flex: 0 0 33.333334%;
		//		}

		@include respond-to(large) {
			margin-bottom: 1.5rem;
		}

		&-header {
			font-family: var(--font-header);
			font-size: var(--font-medium);
			letter-spacing: .1rem;
			margin-top: 1.5rem;
		}
	}

	&__img {
		flex: 0 0 50%;
		display: none;

		@include respond-to(small) {
			//			flex: 0 0 33.333334%;
			display: block;
		}
	}

	&::after {
		background: url(../img/bg-4.jpg);
		background-attachment: fixed;
		background-position: center;
		background-size: cover;

		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		opacity: .5;
		z-index: -10;
	}

	&__form {
		flex: 0 0 100%;
		padding: 0 1.5rem;

		@include respond-to(medium) {
			flex: 0 0 66.666667%;
			padding: 0;
		}

		@include respond-to(large) {
			flex: 0 0 50%;
		}
	}
}

.form-fields {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;

	&__col {
		flex: 0 0 100%;

		@include respond-to(medium) {
			flex: 0 0 48%;
		}
	}
}
