.hero {
    background-color: var(--color-almost-famous);
    width: 100%;
    height: calc(100vh - 88px);
    background-size: cover;

    position: relative;

    display: flex;
    justify-content: space-around;
    align-items: center;

    &__blob {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 30px;
        left: -120px;

        & img {
            width: 100%;
            display: block;
        }
    }

    &__caption {
        color: var(--color-devonshire);
        font-family: var(--font-title);
        font-size: var(--font-medium);
        padding: 15px;
        
        position: relative;
        top: 0;
        left: 0;

        @include respond-to(large) {
            top: -80px;
        left: 0;
        }

        & h2 {
            margin-bottom: 15px;
            margin-top: 0;
            display: inline-block;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            transform: translateY(100px);
            opacity: 0;
 
            @include respond-to(large) {
                display: block;
            }
        }

        & span {
            color: var(--color-fresh-watermelon);
            position: relative;
            z-index: 1;
            overflow: hidden;

            &::after {
                content: "";
                position: absolute;
                animation: 0.3s ease-out 0s 1 slideInFromLeft;
                height: 10px;
                width: 100%;
                bottom: 5px;
                left: 0;
                background-color: #174fd366;
                z-index: -1; 
            }
        }

        & code {
            display: block;
            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            transform: translateY(100px);
            opacity: 0;

            @include respond-to(large) {
                margin-top: 50px;
            }
        }
    }

    &__cta {
        font-size: 13px;
        text-align: center;
        font-weight: 600;
        font-family: var(--font-primary);
        text-decoration: none;
        background-color: var(--color-julep-green);
        border: none;
        border-radius: 10px;
        color: var(--color-almost-famous);
        display: block;
        margin-top: 30px;
        width: 150px;
        padding: 15px;

        position: relative;
        transition: .3s;
        z-index: 1;
        overflow: hidden;

        color: var(--color-almost-famous);
        box-shadow: -4px 4px var(--color-fresh-watermelon);

        transform: translateY(100px);
        opacity: 0;

        @include respond-to(large) {
            box-shadow: unset;
        }

        &::before {
            content: "";
            background-color: var(--color-dreamsicle);
            border-radius: 10px;
            position: absolute;
            bottom: 0;
            right: 0;
            height: 100%;
            transition: all .3s ease;
            z-index: -1;

            width: 100%;

            @include respond-to(large) {
                width: 0;
            }
        }

        &:hover {
            color: var(--color-almost-famous);
            background-color: transparent;
            box-shadow: -4px 4px var(--color-fresh-watermelon);
        }

        &:hover::before {
            left: 0;
            width: 100%;
        }

    }

    &__img {
        display: none;
        width: 400px;
        position: relative;
        right: 35px;
        transform: translateY(200px) ;
        opacity: 0;
        
        box-shadow: -6px 6px 8px 1px rgba(0, 0, 0, .5);
        
        & img {
            width: 100%;
            display: block;
        }

        @include respond-to(large) {
            display: block;
        }
    }
}

.about {
    margin-top: 200px;

    display: flex;
    align-items: center;
    flex-wrap: wrap;

    &__img {
        flex: 0 0 50%;
        box-shadow: -6px 6px 8px 1px rgb(0 0 0 / 50%);
        position: relative;
        margin: 0 auto 0 auto;
        transform: translateX(-200px);
        opacity: 0;

        @include respond-to(medium) {
            flex: 0 0 30%;
        }

        @include respond-to(large) {
            margin: 0 0 0 150px;
        }


        & img {
            display: block;
            width: 100%;
        }

        &::before {
            content: '';
            background-color: var(--color-highlight);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 15px;
            left: -15px;
            z-index: -1;
        }
    }

    &__caption {
        flex: 0 0 80%;
        font-size: 15px;
        text-align: justify;
        align-self: flex-end;
        margin: 50px auto 0 auto;

        @include respond-to(large) {
            flex: 0 0 50%;
            margin: 0 auto 0 auto;
            
        }

        &-title {
            font-family: var(--font-logo);
            font-size: 40px;
            color: var(--color-highlight);
            text-shadow: -2px 2px var(--color-julep-green);

            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transform: translateX(-100px);
            opacity: 0;
        }

        &-text {
            font-size: 20px;
            color: var(--color-fresh-watermelon);

            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transform: translateX(-100px);
            opacity: 0;
        }
    }
    
}

.project {
    margin-top: 200px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &__img {
        flex: 0 0 80%;
        box-shadow: -6px 6px 8px 1px rgb(0 0 0 / 50%);
        position: relative;
        margin: 0 auto 0 auto;

        transform: translateX(-200px);
        opacity: 0;

        @include respond-to(medium) {
            flex: 0 0 50%;
        }

        @include respond-to(large) {
            margin-right: 0 150px 0 0;
        }

        & img {
            display: block;
            width: 100%;
        }

        &::before {
            content: '';
            background-color: var(--color-highlight);
            position: absolute;
            height: 100%;
            width: 100%;
            top: 15px;
            left: -15px;
            z-index: -1;
        }
    }

    &__caption {
        flex: 0 0 80%;
        order: 2;
        font-size: 15px;
        margin: 50px auto 0 auto;
        text-align: justify;
        align-self: flex-end;

        @include respond-to(large) {
            flex: 0 0 30%;
            margin: 0 auto 0 auto;
            order: 0;
        }

        &-title {
            font-family: var(--font-logo);
            font-size: 40px;
            color: var(--color-highlight);
            text-shadow: -2px 2px var(--color-julep-green);

            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transform: translateX(-100px);
            opacity: 0;
        }

        &-text {
            font-size: 20px;
            color: var(--color-fresh-watermelon);

            clip-path: polygon(0 0, 0 0, 0 100%, 0% 100%);
            transform: translateX(-100px);
            opacity: 0;
        }
    }
    
}

.contact {
    margin-top: 200px;
    margin-bottom: 100px;
    text-align: center;
    color: var(--color-fresh-watermelon);

    &__title {
        font-family: var(--font-logo);
        font-size: 40px;
        color: var(--color-highlight);
        text-shadow: -2px 2px var(--color-julep-green);
        margin-bottom: 50px;

        clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
        transform: translateY(100px);
        opacity: 0;
    }

    &-info {
        display: flex;
        flex-wrap: wrap;
        padding: 15px;
    
        &__item {
            flex: 0 0 100%;
           margin: 50px auto;

           & i {
            transform: translateY(100px);
            opacity: 0;
           }
            
        }

        &__loc, &__phone, &__email {
            position: relative;
            font-size: 50px;
            margin-bottom: 30px;
            color: var(--color-highlight);
            
            &::after {
                content: '';
                position: absolute;
                //background-image: url(../img/blob-loc.png);
                height: 100px;
                width: 100px;
                top: -18px;
                left: -25px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                z-index: -1;
            }
        }

        &__loc::after {
            background-image: url(../img/blob-loc.png);
        }

        &__phone::after {
            background-image: url(../img/blob-phone.png);
        }

        &__email::after {
            background-image: url(../img/blob-email.png);
        }
        
        &__text {
            display: block;
            font-size: 24px;
            font-weight: 600;

            clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0 100%);
            transform: translateY(100px);
            opacity: 0;
        }

    }
}