.read-more {
    color: var(--color-highlight);
    display: inline-block;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 10px;
    position: relative;
    transition: .3s;
    
    opacity: 0;
    transform: translateX(-50px);

    & i {
        transition: .3s;
    }

    &::before{
        content: "";
        background-color: var(--color-dreamsicle);
        border-radius: 50px;
        height: 40px;
        width: 40px;
        position: absolute;
        top: -10px;
        left: -20px;
        z-index: -1;
        transition: .3s;;
    }

    &:hover {
        font-size: 16.5px;
    }

    &:hover::before {
        width: calc(100% + 40px);
    }

    &:hover i {
        margin-left: 5px;
    }
}   