@font-face {
	font-family: BebasNeue;
	src: url(../fonts/BebasNeue.ttf);
}

@font-face {
	font-family: Montserrat;
	src: url(../fonts/Montserrat.ttf);
}

@font-face {
	font-family: PlayfairDisplay;
	src: url(../fonts/PlayfairDisplay.ttf);
}