$spacer: 1.5;
$counter: 5;
$grid: 12;

/*########## BACKGROUND PROPERTIES ##########*/
/* background-attachment */
.bg-fixed {
	background-attachment: fixed;
}

/* background-position */
.bg-top {
	background-position: top;
}

.bg-right {
	background-position: right;
}

.bg-bottom {
	background-position: bottom;
}

.bg-left {
	background-position: left;
}

.bg-center {
	background-position: center;
}

/* background-repeat */
.bg-no-repeat {
	background-repeat: no-repeat;
}

/* background-size */
.bg-contain {
	background-size: contain;
}

.bg-cover {
	background-size: cover;
}

/* background-color */
.bg-primary {
	background-color: var(--color-primary);
}

.bg-secondary {
	background-color: var(--color-secondary);
}

.bg-highlight {
	background-color: var(--color-highlight);
}

.bg-white {
	background-color: var(--white);
}

.bg-black {
	background-color: var(--black);
}

.bg-muted {
	background-color: var(--muted);
}

.bg-alt {
	background-color: var(--alt);
}

//noted


/*########## BORDER PROPERTIES ##########*/
/* border color */
.border-primary {
	border-color: var(--color-primary);
}

.border-secondary {
	border-color: var(--color-secondary);
}

.border-highlight {
	border-color: var(--color-highlight);
}

.border-white {
	border-color: var(--white);
}

.border-black {
	border-color: var(--black);
}

.border-muted {
	border-color: var(--muted);
}

/* border-radius */
.rounded {
	border-radius: 999rem;
}

.rounded-sm {
	border-radius: .3rem;
}

.rounded-md {
	border-radius: .5rem;
}

.rounded-lg {
	border-radius: 1rem;
}

/* border-style */
.border-solid {
	border-style: solid;
}

.border-dahsed {
	border-style: dashed;
}

.border-dotted {
	border-style: dotted;
}

/* border-width */
.border-0 {
	border-width: 0;
}

.border-1 {
	border-width: .1rem;
}

.border-2 {
	border-width: .2rem;
}

.border-3 {
	border-width: .3rem;
}

.border-4 {
	border-width: .5rem;
}

.border-5 {
	border-width: 1rem;
}

@include respond-to(small) {
	.border-0-sm {
		border-width: 0;
	}

	.border-1-sm {
		border-width: .1rem;
	}

	.border-2-sm {
		border-width: .2rem;
	}

	.border-3-sm {
		border-width: .3rem;
	}

	.border-4-sm {
		border-width: .5rem;
	}

	.border-5-sm {
		border-width: 1rem;
	}
}

@include respond-to(meduim) {
	.border-0-md {
		border-width: 0;
	}

	.border-1-md {
		border-width: .1rem;
	}

	.border-2-md {
		border-width: .2rem;
	}

	.border-3-md {
		border-width: .3rem;
	}

	.border-4-md {
		border-width: .5rem;
	}

	.border-5-md {
		border-width: 1rem;
	}
}

@include respond-to(large) {
	.border-0-lg {
		border-width: 0;
	}

	.border-1-lg {
		border-width: .1rem;
	}

	.border-2-lg {
		border-width: .2rem;
	}

	.border-3-lg {
		border-width: .3rem;
	}

	.border-4-lg {
		border-width: .5rem;
	}

	.border-5-lg {
		border-width: 1rem;
	}
}

//noted


/*########## COLOR PROPERTIES ##########*/
.text-primary {
	color: var(--color-primary);
}

.text-secondary {
	color: var(--color-secondary);
}

.text-highlight {
	color: var(--color-highlight);
}

.text-white {
	color: var(--white);
}

.text-black {
	color: var(--black);
}

.text-muted {
	color: var(--muted);
}

//noted


/*########## DIMENTION PROPERTIES ##########*/
/* height */
.h-100 {
	height: 100%;
}

.h-100vh {
	height: 100vh;
}

.min-h-100 {
	min-height: 100%;
}

.min-h-100vh {
	min-height: 100vh;
}

.max-h-100 {
	max-height: 100%;
}

.max-h-100vh {
	max-height: 100vh;
}

/* width */
.w-25 {
	width: 25%;
}

.w-50 {
	width: 50%;
}

.w-75 {
	width: 75%;
}

.w-90 {
	width: 90%;
}

.w-100 {
	width: 100%;
}

.min-w-100 {
	min-width: 100%;
}

.max-w-100 {
	max-width: 100%;
}

//noted


/*########## FLEXBOX LAYOUT ##########*/
.flex {
	display: flex;
}

/* flex-direction */
.flex-row {
	flex-direction: row;
}

.flex-col {
	flex-direction: column;
}

.flex-col-reverse {
	flex-direction: column-reverse;
}

/* flex-wrap */
.flex-wrap {
	flex-wrap: wrap;
}

.flex-no-wrap {
	flex-wrap: nowrap;
}

/* align-content */
.content-center {
	align-content: center;
}

.content-end {
	align-content: flex-end;
}

.content-start {
	align-content: flex-start;
}

.content-around {
	align-content: space-around;
}

.content-between {
	align-content: space-between;
}

.content-stretch {
	align-content: stretch;
}

/* align-items */
.align-baseline {
	align-items: baseline;
}

.align-center {
	align-items: center;
}

.align-end {
	align-items: flex-end;
}

.align-start {
	align-items: flex-start;
}

.align-stretch {
	align-items: stretch;
}

/* align-self */
.self-baseline {
	align-self: baseline;
}

.self-center {
	align-self: center;
}

.self-end {
	align-self: flex-end;
}

.self-start {
	align-self: flex-start;
}

.self-stretch {
	align-self: stretch;
}

/* align-justify */
.justify-center {
	justify-content: center;
}

.justify-end {
	justify-content: flex-end;
}

.justify-start {
	justify-content: flex-start;
}

.justify-around {
	justify-content: space-around;
}

.justify-between {
	justify-content: space-between;
}

/* flex property for small devices and greater */
@include respond-to(small) {
	.flex-on-sm {
		display: flex;
	}

	/* flex-direction */
	.flex-row-sm {
		flex-direction: row;
	}

	.flex-col-sm {
		flex-direction: column;
	}

	/* align-content */
	.content-center-sm {
		align-content: center;
	}

	.content-end-sm {
		align-content: flex-end;
	}

	.content-start-sm {
		align-content: flex-start;
	}

	.content-around-sm {
		align-content: space-around;
	}

	.content-between-sm {
		align-content: space-between;
	}

	.content-stretch-sm {
		align-content: stretch;
	}

	/* align-items */
	.align-baseline-sm {
		align-items: baseline;
	}

	.align-center-sm {
		align-items: center;
	}

	.align-end-sm {
		align-items: flex-end;
	}

	.align-start-sm {
		align-items: flex-start;
	}

	.align-stretch-sm {
		align-items: stretch;
	}

	/* align-self */
	.self-baseline-sm {
		align-self: baseline;
	}

	.self-center-sm {
		align-self: center;
	}

	.self-end-sm {
		align-self: flex-end;
	}

	.self-start-sm {
		align-self: flex-start;
	}

	.self-stretch-sm {
		align-self: stretch;
	}

	/* justify-content */
	.justify-center-sm {
		justify-content: center;
	}

	.justify-end-sm {
		justify-content: flex-end;
	}

	.justify-start-sm {
		justify-content: flex-start;
	}

	.justify-around-sm {
		justify-content: space-around;
	}

	.justify-between-sm {
		justify-content: space-between;
	}
}

/* flex property for small devices and greater */
@include respond-to(medium) {
	.flex-on-sm {
		display: flex;
	}

	/* flex-direction */
	.flex-row-md {
		flex-direction: row;
	}

	.flex-col-md {
		flex-direction: column;
	}

	/* align-content */
	.content-center-md {
		align-content: center;
	}

	.content-end-md {
		align-content: flex-end;
	}

	.content-start-md {
		align-content: flex-start;
	}

	.content-around-md {
		align-content: space-around;
	}

	.content-between-md {
		align-content: space-between;
	}

	.content-stretch-md {
		align-content: stretch;
	}

	/* align-items */
	.align-baseline-md {
		align-items: baseline;
	}

	.align-center-md {
		align-items: center;
	}

	.align-end-md {
		align-items: flex-end;
	}

	.align-start-md {
		align-items: flex-start;
	}

	.align-stretch-md {
		align-items: stretch;
	}

	/* align-self */
	.self-baseline-md {
		align-self: baseline;
	}

	.self-center-md {
		align-self: center;
	}

	.self-end-md {
		align-self: flex-end;
	}

	.self-start-md {
		align-self: flex-start;
	}

	.self-stretch-md {
		align-self: stretch;
	}

	/* justify-content */
	.justify-center-md {
		justify-content: center;
	}

	.justify-end-md {
		justify-content: flex-end;
	}

	.justify-start-md {
		justify-content: flex-start;
	}

	.justify-around-md {
		justify-content: space-around;
	}

	.justify-between-md {
		justify-content: space-between;
	}
}

/* flex property for small devices and greater */
@include respond-to(large) {
	.flex-on-lg {
		display: flex;
	}

	/* flex-direction */
	.flex-row-lg {
		flex-direction: row;
	}

	.flex-col-lg {
		flex-direction: column;
	}

	/* align-content */
	.content-center-lg {
		align-content: center;
	}

	.content-end-lg {
		align-content: flex-end;
	}

	.content-start-lg {
		align-content: flex-start;
	}

	.content-around-lg {
		align-content: space-around;
	}

	.content-between-lg {
		align-content: space-between;
	}

	.content-stretch-lg {
		align-content: stretch;
	}

	/* align-items */
	.align-baseline-lg {
		align-items: baseline;
	}

	.align-center-lg {
		align-items: center;
	}

	.align-end-lg {
		align-items: flex-end;
	}

	.align-start-lg {
		align-items: flex-start;
	}

	.align-stretch-lg {
		align-items: stretch;
	}

	/* align-self */
	.self-baseline-lg {
		align-self: baseline;
	}

	.self-center-lg {
		align-self: center;
	}

	.self-end-lg {
		align-self: flex-end;
	}

	.self-start-lg {
		align-self: flex-start;
	}

	.self-stretch-lg {
		align-self: stretch;
	}

	/* justify-content */
	.justify-center-lg {
		justify-content: center;
	}

	.justify-end-lg {
		justify-content: flex-end;
	}

	.justify-start-lg {
		justify-content: flex-start;
	}

	.justify-around-lg {
		justify-content: space-around;
	}

	.justify-between-lg {
		justify-content: space-between;
	}
}


/* order */
.order-first {
	order: -9999;
}

.order-last {
	order: 9999;
}

.order-normal {
	order: 0;
}

@for $o from 1 through $counter {
	.order-#{$o} {
		order: $o;
	}
}

/* flex order for small devices and greater */
@include respond-to(small) {
	.order-first-sm {
		order: -9999;
	}

	.order-last-sm {
		order: 9999;
	}

	.order-normal-sm {
		order: 0;
	}

	@for $o from 1 through $counter {
		.order-#{$o}-sm {
			order: $o;

		}
	}
}

/* flex order for medium devices and greater */
@include respond-to(medium) {
	.order-first-md {
		order: -9999;
	}

	.order-last-md {
		order: 9999;
	}

	.order-normal-md {
		order: 0;
	}

	@for $o from 1 through $counter {
		.order-#{$o}-md {
			order: $o;

		}
	}
}

/* flex order for large devices and greater */
@include respond-to(large) {
	.order-first-lg {
		order: -9999;
	}

	.order-last-lg {
		order: 9999;
	}

	.order-normal-lg {
		order: 0;
	}

	@for $o from 1 through $counter {
		.order-#{$o}-lg {
			order: $o;

		}
	}
}

//noted

/*########## FLEXGRID LAYOUT ##########*/
@for $g from 1 through $grid {
	.flex-#{$g} {
		flex: 0 0 percentage($g/$grid);
	}
}

/* flex small for medium devices and greater */
@include respond-to(small) {

	@for $g from 1 through $grid {
		.flex-#{$g}-sm {
			flex: 0 0 percentage($g/$grid);
		}
	}
}

/* flex grid for medium devices and greater */
@include respond-to(medium) {

	@for $g from 1 through $grid {
		.flex-#{$g}-md {
			flex: 0 0 percentage($g/$grid);
		}
	}
}

/* flex grid for large devices and greater */
@include respond-to(large) {

	@for $g from 1 through $grid {
		.flex-#{$g}-lg {
			flex: 0 0 percentage($g/$grid);

		}
	}
}

.flex-auto {
	flex: 0 0 auto;
}

@include respond-to(small) {
	.flex-auto-sm {
		flex: 0 0 auto;
	}
}

@include respond-to(medium) {
	.flex-auto-md {
		flex: 0 0 auto;
	}
}

@include respond-to(large) {
	.flex-auto-lg {
		flex: 0 0 auto;
	}
}

//noted


/*########## FONT PROPERTIES ##########*/
/* font-family */
.font-primary {
	font-family: var(--font-primary);
}

.font-header {
	font-family: var(--font-header);
}

.font-title {
	font-family: var(--font-title);
}

/* font-size */
.font-extra-small {
	font-size: var(--font-extra-small);
}

.font-small {
	font-size: var(--font-small);
}

.font-medium {
	font-size: var(--font-medium);
}

.font-large {
	font-size: var(--font-large);
}

.font-extra-large {
	font-size: var(--font-extra-large);
}

/* font-style */
.font-italic {
	font-style: italic;
}

/* font-weight */
.font-normal {
	font-weight: normal;
}

.font-lighter {
	font-weight: lighter;
}

.font-bold {
	font-weight: bold;
}

.font-bolder {
	font-weight: bolder;
}

//noted

/*########## LIST PROPERTIES ##########*/
.list-none {
	list-style: none;
}

/* list-style */
.list-circle {
	list-style-type: circle;
}

.list-decimal {
	list-style-type: decimal;
}

.list-disc {
	list-style-type: disc;
}


/*########## OFFSET ##########*/
.offset-auto {
	margin-left: auto;
	margin-right: auto;
}

@include respond-to(small) {
	.offset-auto-sm {
		margin-left: auto;
		margin-right: auto;
	}
}

@include respond-to(medium) {
	.offset-auto-md {
		margin-left: auto;
		margin-right: auto;
	}
}

@include respond-to(large) {
	.offset-auto-lg {
		margin-left: auto;
		margin-right: auto;
	}
}


@for $g from 0 through $grid {
	.offset-#{$g} {
		margin-left: percentage($g/$grid);
	}
}

/* flex small for medium devices and greater */
@include respond-to(small) {

	@for $g from 1 through $grid {
		.offset-#{$g}-sm {
			margin-left: percentage($g/$grid);
		}
	}
}

/* flex grid for medium devices and greater */
@include respond-to(medium) {

	@for $g from 1 through $grid {
		.offset-#{$g}-md {
			margin-left: percentage($g/$grid);
		}
	}
}

/* flex grid for large devices and greater */
@include respond-to(large) {

	@for $g from 1 through $grid {
		.offset-#{$g}-lg {
			margin-left: percentage($g/$grid);
		}
	}
}


/*########## MARGIN PROPERTIES ##########*/
.m-auto {
	margin: auto;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

//margins for small devices and greater
@include respond-to(small) {
	.m-auto-sm {
		margin: auto;
	}

	.my-auto-sm {
		margin-top: auto;
		margin-bottom: auto;
	}

	.mx-auto-sm {
		margin-left: auto;
		margin-right: auto;
	}
}

//margins for medium devices and greater
@include respond-to(medium) {
	.m-auto-md {
		margin: auto;
	}

	.my-auto-md {
		margin-top: auto;
		margin-bottom: auto;
	}

	.mx-auto-md {
		margin-left: auto;
		margin-right: auto;
	}
}

//margins for large devices and greater
@include respond-to(large) {
	.m-auto-lg {
		margin: auto;
	}

	.my-auto-lg {
		margin-top: auto;
		margin-bottom: auto;
	}

	.mx-auto-lg {
		margin-left: auto;
		margin-right: auto;
	}
}

@for $i from 0 through $counter {
	.m-#{$i} {
		margin: #{$spacer*$i}rem;
	}

	.mt-#{$i} {
		margin-top: #{$spacer*$i}rem;
	}

	.mr-#{$i} {
		margin-right: #{$spacer*$i}rem;
	}

	.mb-#{$i} {
		margin-bottom: #{$spacer*$i}rem;
	}

	.ml-#{$i} {
		margin-left: #{$spacer*$i}rem;
	}

	.mx-#{$i} {
		margin-left: #{$spacer*$i}rem;
		margin-right: #{$spacer*$i}rem;
	}

	.my-#{$i} {
		margin-top: #{$spacer*$i}rem;
		margin-bottom: #{$spacer*$i}rem;
	}
}

@for $i from 0 through $counter {

	//margins for small devices and greater
	@include respond-to(small) {
		.m-#{$i}-sm {
			margin: #{$spacer*$i}rem;
		}

		.mt-#{$i}-sm {
			margin-top: #{$spacer*$i}rem;
		}

		.mr-#{$i}-sm {
			margin-right: #{$spacer*$i}rem;
		}

		.mb-#{$i}-sm {
			margin-bottom: #{$spacer*$i}rem;
		}

		.ml-#{$i}-sm {
			margin-left: #{$spacer*$i}rem;
		}

		.mx-#{$i}-sm {
			margin-left: #{$spacer*$i}rem;
			margin-right: #{$spacer*$i}rem;
		}

		.my-#{$i}-sm {
			margin-top: #{$spacer*$i}rem;
			margin-bottom: #{$spacer*$i}rem;
		}
	}
}

@for $i from 0 through $counter {

	//margins for medium devices and greater
	@include respond-to(medium) {
		.m-#{$i}-md {
			margin: #{$spacer*$i}rem;
		}

		.mt-#{$i}-md {
			margin-top: #{$spacer*$i}rem;
		}

		.mr-#{$i}-md {
			margin-right: #{$spacer*$i}rem;
		}

		.mb-#{$i}-md {
			margin-bottom: #{$spacer*$i}rem;
		}

		.ml-#{$i}-md {
			margin-left: #{$spacer*$i}rem;
		}

		.mx-#{$i}-sm {
			margin-left: #{$spacer*$i}rem;
			margin-right: #{$spacer*$i}rem;
		}

		.my-#{$i}-md {
			margin-top: #{$spacer*$i}rem;
			margin-bottom: #{$spacer*$i}rem;
		}
	}
}

@for $i from 0 through $counter {

	//margins for large devices and greater
	@include respond-to(large) {
		.m-#{$i}-lg {
			margin: #{$spacer*$i}rem;
		}

		.mt-#{$i}-lg {
			margin-top: #{$spacer*$i}rem;
		}

		.mr-#{$i}-lg {
			margin-right: #{$spacer*$i}rem;
		}

		.mb-#{$i}-lg {
			margin-bottom: #{$spacer*$i}rem;
		}

		.ml-#{$i}-lg {
			margin-left: #{$spacer*$i}rem;
		}

		.mx-#{$i}-lg {
			margin-left: #{$spacer*$i}rem;
			margin-right: #{$spacer*$i}rem;
		}

		.my-#{$i}-lg {
			margin-top: #{$spacer*$i}rem;
			margin-bottom: #{$spacer*$i}rem;
		}
	}
}

//noted


/*########## OUTLINE PROPERTY ##########*/
.outline-none {
	outline: 0;
}

//noted

/*########## PADDING PROPERTIES ##########*/
@for $i from 0 through $counter {

	.p-#{$i} {
		padding: #{$spacer*$i}rem;
	}

	.pt-#{$i} {
		padding-top: #{$spacer*$i}rem;
	}

	.pr-#{$i} {
		padding-right: #{$spacer*$i}rem;
	}

	.pb-#{$i} {
		padding-bottom: #{$spacer*$i}rem;
	}

	.pl-#{$i} {
		padding-left: #{$spacer*$i}rem;
	}

	.px-#{$i} {
		padding-left: #{$spacer*$i}rem;
		padding-right: #{$spacer*$i}rem;
	}

	.py-#{$i} {
		padding-top: #{$spacer*$i}rem;
		padding-bottom: #{$spacer*$i}rem;
	}
}

@for $i from 0 through $counter {

	//paddings for small devices and greater
	@include respond-to(small) {
		.p-#{$i}-sm {
			padding: #{$spacer*$i}rem;
		}

		.pt-#{$i}-sm {
			padding-top: #{$spacer*$i}rem;
		}

		.pr-#{$i}-sm {
			padding-right: #{$spacer*$i}rem;
		}

		.pb-#{$i}-sm {
			padding-bottom: #{$spacer*$i}rem;
		}

		.pl-#{$i}-sm {
			padding-left: #{$spacer*$i}rem;
		}

		.px-#{$i}-sm {
			padding-left: #{$spacer*$i}rem;
			padding-right: #{$spacer*$i}rem;
		}

		.py-#{$i}-sm {
			padding-top: #{$spacer*$i}rem;
			padding-bottom: #{$spacer*$i}rem;
		}
	}
}

@for $i from 0 through $counter {

	//paddings for medium devices and greater
	@include respond-to(medium) {
		.p-#{$i}-md {
			padding: #{$spacer*$i}rem;
		}

		.pt-#{$i}-md {
			padding-top: #{$spacer*$i}rem;
		}

		.pr-#{$i}-md {
			padding-right: #{$spacer*$i}rem;
		}

		.pb-#{$i}-md {
			padding-bottom: #{$spacer*$i}rem;
		}

		.pl-#{$i}-md {
			padding-left: #{$spacer*$i}rem;
		}

		.px-#{$i}-md {
			padding-left: #{$spacer*$i}rem;
			padding-right: #{$spacer*$i}rem;
		}

		.py-#{$i}-md {
			padding-top: #{$spacer*$i}rem;
			padding-bottom: #{$spacer*$i}rem;
		}
	}
}

@for $i from 0 through $counter {

	//paddings for large devices and greater
	@include respond-to(large) {
		.p-#{$i}-lg {
			padding: #{$spacer*$i}rem;
		}

		.pt-#{$i}-lg {
			padding-top: #{$spacer*$i}rem;
		}

		.pr-#{$i}-lg {
			padding-right: #{$spacer*$i}rem;
		}

		.pb-#{$i}-lg {
			padding-bottom: #{$spacer*$i}rem;
		}

		.pl-#{$i}-lg {
			padding-left: #{$spacer*$i}rem;
		}

		.px-#{$i}-lg {
			padding-left: #{$spacer*$i}rem;
			padding-right: #{$spacer*$i}rem;
		}

		.py-#{$i}-lg {
			padding-top: #{$spacer*$i}rem;
			padding-bottom: #{$spacer*$i}rem;
		}
	}
}

//noted


/*########## TEXT PROPERTIES ##########*/
/* text-align */
.text-center {
	text-align: center;
}

.text-justify {
	text-align: justify;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

//text properties for small devices and greater
@include respond-to(small) {
	.text-center-sm {
		text-align: center;
	}

	.text-justify-sm {
		text-align: justify;
	}

	.text-left-sm {
		text-align: left;
	}

	.text-right-sm {
		text-align: right;
	}
}

//text properties for medium devices and greater
@include respond-to(medium) {
	.text-center-md {
		text-align: center;
	}

	.text-justify-md {
		text-align: justify;
	}

	.text-left-md {
		text-align: left;
	}

	.text-right-md {
		text-align: right;
	}
}


//text properties for large devices and greater
@include respond-to(large) {
	.text-center-lg {
		text-align: center;
	}

	.text-justify-lg {
		text-align: justify;
	}

	.text-left-lg {
		text-align: left;
	}

	.text-right-lg {
		text-align: right;
	}
}

/* text decoration */
.underline {
	text-decoration: underline;
}

.line-through {
	text-decoration: line-through;
}

.no-underline {
	text-decoration: none;
}

/* text shadow */
.text-shadow-sm {
	text-shadow: -1px 1px var(--black);
}

.text-shadow-md {
	text-shadow: -3px 3px var(--black);
}

.text-shadow-lg {
	text-shadow: -5px 5px var(--black);
}

.text-shadow-none {
	text-shadow: none;
}

/* text transform */
.capitalize {
	text-transform: capitalize;
}

.uppercase {
	text-transform: uppercase;
}

/* line height */
.leading-sm {
	line-height: 1;
}

.leading-normal {
	line-height: normal;
}

.leading-md {
	line-height: 1.5;
}

.leading-lg {
	line-height: 2;
}

/* letter spacing */
.tracking-1 {
	letter-spacing: .1rem;
}

.tracking-2 {
	letter-spacing: .2rem;
}

.tracking-3 {
	letter-spacing: .3rem;
}

.tracking-4 {
	letter-spacing: .4rem;
}

.tracking-5 {
	letter-spacing: .5rem;
}

/* vertical align */
.vertical-baseline {
	vertical-align: baseline;
}

.vertical-middle {
	vertical-align: middle;
}

/* word-break / wrap */
.break-all {
	text-overflow: ellipsis;
	word-break: break-all;
}

.break-word {
	word-wrap: break-word
}

.truncate {
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

//noted

/* ############ CUSTOM TRANSITION ############ */
.all-ease {
	transition: all .3s ease-in-out;
}

.all-linear {
	transition: all .3s linear;
}

//noted


/* ############ VISUAL FORMATTING PROPERTIES ############ */
/* display */
.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

.hide {
	display: none;
}

.opacity-0 {
	opacity: 0;
}

.opacity-1 {
	opacity: 1;
}

.show-on-hover:hover {
	opacity: 1;
}

/* display on small devices and greater */
@include respond-to(small) {
	.show-on-sm {
		display: block;
	}

	.hide-on-sm {
		display: none;
	}
}

/* display on medium devices and greater */
@include respond-to(medium) {
	.show-on-md {
		display: block;
	}

	.hide-on-md {
		display: none;
	}
}

/* display on large devices and greater */
@include respond-to(large) {
	.show-on-lg {
		display: block;
	}

	.hide-on-lg {
		display: none;
	}
}

/* position */
.absolute {
	position: absolute;
}

.relative {
	position: relative;
}

.fixed {
	position: fixed;
}

/* t-r-b-l */
.top-0 {
	top: 0;
}

.right-0 {
	right: 0;
}

.bottom-0 {
	bottom: 0;
}

.left-0 {
	left: 0;
}

.inset-x-0 {
	right: 0;
	left: 0;
}

.inset-y-0 {
	top: 0;
	bottom: 0;
}

.inset-0 {
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
}

/* overflow */
.overflow-hidden {
	overflow: hidden;
}

.overflow-scroll {
	overflow: scroll;
}

.overflow-x-hidden {
	overflow-x: hidden;
}

.overflow-x-scroll {
	overflow-x: scroll;
}

.overflow-y-hidden {
	overflow-y: hidden;
}

.overflow-y-scroll {
	overflow-y: scroll;
}


/* box-sizing */
.border-box {
	box-sizing: border-box;
}

.content-box {
	box-sizing: content-box;
}

/* box-shadow */
.shadow-xs {
	box-shadow: 0 0 4px rgba(0, 0, 0, .5);
}

.shadow-sm {
	box-shadow: 0 0 10px rgba(0, 0, 0, .5);
}

.shadow-md {
	box-shadow: 0 0 20px rgba(0, 0, 0, .5);
}

.shadow-lg {
	box-shadow: 0 0 40px rgba(0, 0, 0, .5);
}

/* cursor */
.cursor-pointer {
	cursor: pointer;
}

.cursor-not-allowed {
	cursor: not-allowed;
}

/* z-index */
.z-index-0 {
	z-index: 0;
}

.z-index-1 {
	z-index: 10;
}

.z-index-2 {
	z-index: 20;
}

.z-index-3 {
	z-index: 30;
}

.z-index-4 {
	z-index: 40;
}

.z-index-5 {
	z-index: 50;
}

//noted

/*# sourceMappingURL=utilities.css.map */
